{% extends "template.html" %}

{% block content %}
<div class="container text-center">
  <div class="row align-items-center justify-content-center min-vh-100">
    <div class="col-12 col-sm-4 col-lg-4 mb-3">
      <form class="form-signin body-center" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <img class="mb-4" src="https://th.bing.com/th/id/OIP.S9PEQI0Z_ZTHQlNbsOMRYwHaHa?rs=1&pid=ImgDetMain" alt="" width="150" height="150">
        
        <label for="">Ingresa tu correo y contraseña para ingresar a la plataforma</label>
        <br><br>
        <label for="username" class="sr-only mb-3">Ingrese su correo</label> 
        <input type="text" name="username" id="username" class="form-control" placeholder="Correo" required> 
        <br>
        <label for="password" class="sr-only mb-3">Ingrese Contraseña</label> 
        <input type="password" name="password" id="password" class="form-control" placeholder="Contraseña" required> 
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Recuérdame
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Ingresar</button>
        {% if error %}
          <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <p class="login-form-module_help-text__kKntb">¿Aún no tienes cuenta? <a id="unified-login-login-form-register-link" href="{% url 'createUsers' %}">Regístrate</a></p>
      </form>
    </div>
  </div>
</div>
{% endblock %}
